.rectangle {
    height: 600px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 1px 4px 4px 1px rgba(85, 85, 85, 0.25);
}

img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}